#sub{
	cursor: pointer;
}

#link1{
	color: darkred;
}

#link2{
	color: darkred;
}

#link3{
	color: darkred;
}

#link4{
	color: darkred;
}

#link5{
	color: darkred;
}

#link6{
	color: darkred;
}

#link7{
	color: darkred;
}